.Follow {
    /* background-image: url("//cdn.shopify.com/s/files/1/2378/9469/files/16052018-DSCF3601_1200x.jpg?v=1527583599");
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 100vw;
    max-width: 1200px; */
}

.Follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Follow .Header {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #faf9f6;
}
.Follow .Action {
    display: flex;
    align-items: center;
    max-width: 600px;
}
.Follow .Action img {
    width: 100px;
}
.Follow .Action div {
    font-size: 20px;
}
.Follow .Description {
    max-width: 600px;
}
.Follow .Buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.Follow .Buttons > * {
    margin: 10px;
}
